.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.ui.menu {
  background-color:#FFB62A;
}

button.ui.primary.button {
  background-color: #FFB62A
}

i.trash.alternate.outline.link.icon {
  margin: .25em .25em .50em .50em
}

/* div .ui.teal.card {
  background-color:#cae7ee;
} */

button.ui.button {
  margin: .25em .25em .25em .25em
}

h1.center {
  text-align: center;
}

h3.triplocation {
  text-align: center;
}

button.ui.button.todo {
  background-color: #FF7759;
  color: white
}

button.ui.button.toeat {
  background-color: #DDFF7B;
  color: white
}

button.ui.button.todrink {
  background-color: #36F6FF;
  color: white
}

